<div class="bg-success bg-gradient">
  <div class="finance-regi fs-60">
    ジャンル一覧
  </div>
</div>

<div class="wrap-new">
  <% @genres.each do |genre| %>
    <div class="row align-items-center">
      <div class= "border-bottom border-dark setting-contents fs-1">
        <%= genre.g_name %>
      </div>
    </div>
  <% end %>
</div>


<%= render "shared/footer" %>