<div class="bg-success bg-gradient">
  <div class="finance-regi fs-60">
    設定
  </div>
</div>

<div class="wrap-new">
  <div class="row align-items-center">
    <div class="col fs-48 mt-5 mb-4">機能設定
    </div>
    <%= link_to  new_genre_path ,class: "border-top border-dark setting-contents fs-1" do %>
      カテゴリー追加
    <% end %>
    <%= link_to genres_path, class: "border-top border-bottom border-dark setting-contents fs-1" do %>
      カテゴリー編集
    <% end %>
  </div>


  <div class="row align-items-center">
    <div class="col fs-48 mt-5 mb-4">アカウント設定</div>
    <a class="border-top border-dark setting-contents">
      <div href="#" class="fs-1 ">アドレス変更</div>
    </a>
    <a class="border-top border-dark setting-contents">
      <div class="fs-1">パスワード変更</div>
    </a>
    <%= link_to destroy_user_session_path, method: :delete, class: "border-top border-bottom border-dark setting-contents fs-1" do%>
      ログアウト
    <% end %>

  </div>
</div>

<%= render "shared/footer" %>