<div>
  <%= month_calendar do |date| %>
    <%= date %>
  <% end %> 

  <div class="wrap-new">
    <div class="finance-total">
      <div class="d-flex">
        <div class="fs-2 ceb fw-bold">収入</div>
        <div class="fs-2 price">1＄</div>
      </div>
      <div class="d-flex">
        <div class="fs-2 ceb fw-bold">支出</div>
        <div class="fs-2 price">1000000円</div>
      </div>
    </div>
  </div>
</div>

<div class="finance-index">
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
  <div class="d-flex border-bottom pt-5">
    <div class="f-date fs-1">12月1日</div>
    <div class="f-date f-category fs-1">カテゴリー</div>
    <div class="f-price fs-1">100円</div>
  </div>
</div>

<footer class="menu-wrap">
  <ul class="nav nav-fill">
    <li class="nav-item">
      <a class="nav-link gray" href="/"><i class="fa-solid fa-pen p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="/index"><i class="fa-regular fa-calendar-days p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="#"><i class="fa-solid fa-database p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="/setting"><i class="fa-solid fa-gear p-3 fs-60"></i></a>
    </li>
  </ul>
</footer>