<div class="bg-success bg-gradient">
  <div class="finance-regi fs-60">
    収支登録
  </div>
</div>

<div class="wrap-new">
  <div class="wrap-form-contents">
    <label for="formGroupExampleInput" class="form-label fs-1">日付</label>
    <input type="date" class="form-control h-1" id="formGroupExampleInput">
  </div>

  <div class="wrap-form-contents">
    <label for="formGroupExampleInput" class="form-label fs-1">カテゴリー</label>
    <select class="form-select h-1">
      <option selected>Open this select menu</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="wrap-form-contents">
    <label for="formGroupExampleInput" class="form-label fs-1">金額</label>
    <input type="text" class="form-control h-1" id="formGroupExampleInput">
  </div>

  <div class="wrap-form-contents">
    <label for="formGroupExampleInput2" class="form-label fs-1">メモ</label>
    <textarea class="form-control h-2" id="formGroupExampleInput2"></textarea>
  </div>

  <div class="wrap-form-contents">
    <div class="d-flex justify-content-center">
      <a href="#" class="add-category fs-1">カテゴリーを追加する</a>
    </div>
  </div>
 
  <div class="wrap-form-submit">
    <div class="d-grid gap-2">
      <input class="btn btn-primary h-1" type="submit" value="保存">
    </div>
  </div>

</div>



<footer class="menu-wrap">
  <ul class="nav nav-fill">
    <li class="nav-item">
      <a class="nav-link gray" href="#"><i class="fa-solid fa-pen p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="#"><i class="fa-regular fa-calendar-days p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="#"><i class="fa-solid fa-database p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="/setting"><i class="fa-solid fa-gear p-3 fs-60"></i></a>
    </li>
  </ul>
</footer>