<footer class="menu-wrap">
  <ul class="nav nav-fill">
    <li class="nav-item">
      <a class="nav-link gray" href="/"><i class="fa-solid fa-pen p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="/records"><i class="fa-regular fa-calendar-days p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="#"><i class="fa-solid fa-database p-3 fs-60"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link gray" href="/setting"><i class="fa-solid fa-gear p-3 fs-60"></i></a>
    </li>
  </ul>
</footer>