<%= render "shared/header" %>

<%= render "shared/record_form" %>

<div class="wrap-new">
  <div class="mt-1">
    <div class="wrap-form-submit">
      <%= link_to '削除', "/records/#{@record.id}", class: "delete-btn", data: { confirm: '本当にいいのか？' }, method: :delete %>
    </div>
  </div>
<div>
<%= content_for(:title, "収支編集") %>