.switch-button {
  display: flex;
  justify-content: center;

}

.pie_btn {
  margin: 10px;
  font-size: 25px;
}

.chart-spending {
  display: none;
}

.chart-income {
  display: inline;
}

.chart-link {
  font-size: 30px;
}

.chart-top {
  border-bottom: 1px solid darkgray;
}

.chart-total {
  border: 1px solid;
}