// Place all the styles related to the finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.finance-regi {
  display: flex;
  justify-content: center;
  padding: 30px;
  color: #fff;
}

.wrap-new {
  padding: 1rem 2rem;
  width: 100%;
}

.wrap-form-contents {
  margin: 50px 1rem;
}

.form-control.h-1 {
  line-height: 4;
}

.form-control.h-2 {
  line-height: 2;
}

.form-select.h-1 {
  line-height: 4;
}

.btn.btn-primary.h-1 {
  line-height: 4;
  font-size: 30px;
}

.wrap-form-submit {
  margin: 150px 0;
}

.fs-60 {
  font-size: 60px;
}

.menu-wrap {
  width: 93%;
  margin: 3.5%;
  padding: 40px 20px;
  border: none;
  border-radius: 20px;
  background-color: #fff;
  position: fixed; /* fixed or sticky*/
  bottom: 0;
}

.nav-link.gray {
  color: dimgray;
}

/* setting */

.fs-48 {
  font-size: 48px;
}

.setting-contents{
  line-height: 5rem;
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}


/* finance-index */

.calender-bg {
  background-color: #e9ecef;
  position: sticky;
  top: 0;
}

.finance-total {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 0;
}

.ceb {
  margin: 0 auto;
  width: 60%;
  text-align: center;
  border-right: 1px solid;
  padding: 10px 0;
}

.price {
  width: 50%;
  text-align: end;
  margin-right: 10%;
  padding: 10px 0;
}

.finance-index {
  background-color: #fff;
  padding: 0 2rem;
}

.f-date {
  width: 30%;
}

.f-price {
  width: 40%;
  text-align: end;
}

/* calender */

.calendar-heading {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
  font-size: 30px;
}

.table>:not(:last-child)>:last-child>* {
  text-align: center;
}

.simple-calendar {
  text-align: center;
}

input#record_income_value1 {
  display: none;
}

input#record_spending_value2 {
  display: none;
}

.income {
  color: green;
}

.spending {
  color: white;
}

.spending-status {
  color: red;
}

.bg-income {
  background-color: aliceblue;
}

.danger {
  display: none;
  position: absolute;
  top: 40%;
  left: 20%;
  border: 1px solid;
  text-align: center;
}

