.page-header {
  margin: 1% 0;
}

.logo {
  display: flex;
  justify-content: center;
}

.app_logo {
  width: 5%;
  height: auto;
  margin: 0 auto;
}

.user-form-submit {
  width: 50%;
  margin: 0 auto;
}

.user-login {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: green;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.user-login:hover {
  opacity: 0.7;
}

.create-account {
  display: flex;
  justify-content: center;
  margin: 3% 0;
  color: green;
}

.new_user {
  width: 30%;
  margin: 20px auto;
}

.field {
  margin-bottom: 40px;
}

.login_transition {
  display: flex;
  justify-content: center;
  font-size: 27px;
  font-weight: bold;
  margin-top: 60px;
}

.cancel-btn {
  width: 50%;
  margin: 0 auto;
  padding-top: 50px;
}

.user-update-cancel {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.user-update-cancel:hover {
  opacity: 0.7;
}

/* header/user-name */

.site-right {
  font-size: 28px;
  padding: 0.8rem;
  display: block;
}

.user-name {
  text-decoration: none;
  vertical-align: middle;
  color: black;
}

.my-finance-user {
  font-size: 22px;
  text-decoration: none;
  color: red;
  padding: 0.8rem;
  display: block;
}

@media (max-width: 599px) {
  
  .my-finance-user {
    font-size: 10px;
  }
  .app_logo {
    width: 20%;
    margin: 20px auto;
  }

  .site-right {
    font-size: 14px;
    padding: 0.4rem;
    display: block;
  }

  a.user-name {
    font-size: 14px;
    padding: 0.4rem;
  }

  .fs-20 {
    font-size: 20px;
  }

  .new_user {
    width: 70%;
  }

  .user-form-submit {
    width: 70%;
  }

  .cancel-btn {
    width: 70%;
  }

  .user-update-cancel {
    padding: 15px;
  }

  .login_transition {
    font-size: 22px;
  }

  .user-login {
    text-decoration: none;
  }

}

@media (min-width: 600px) and (max-width: 1024px) {
  .new_user {
    width: 40%;
  }

  .user-form-submit {
    width: 60%;
  }

  .cancel-btn {
    width: 60%;
  }

  .user-update-cancel {
    padding: 15px;
  }

  .login_transition {
    font-size: 20px;
  }
}